nutriguide/
.env
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.pytest_cache/
.vscode/
backend/storage/raw/
backend/storage/embeddings/
backend/storage/vectordb/
backend/storage/processed/
backend/logs/*.log
*.faiss
*.pkl
logs/
backend/logs/*.log
diagram.drawio